* {
    cursor: url(https://cur.cursors-4u.net/sports/spo-1/spo15.cur), auto !important;
}

body {
    background-image: url('../images/welcomeBackground.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h2 {
    color: white;
    font-family: Bradley Hand, cursive;
    font-size: 50px;
}


.centered-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.centered-text h1{
    font-family: Bradley Hand, cursive;
    font-size: 100px;
    margin: 50px;
}

.centered-text p {
    font-family: Bradley Hand, cursive;
    font-size: 50px;
    margin: 50px;
}


.endText {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.endText h1{
    font-family: Bradley Hand, cursive;
    font-size: 80px;
    margin: 50px;
}

.endText p{
    font-family: Bradley Hand, cursive;
    font-size: 50px;
    margin: 50px;
}

.gameText {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.gameText img {
    margin: 0 auto;
    display: block;
}

.gameText h1{
    font-family: Bradley Hand, cursive;
    font-size: 60px;
    margin: 50px;
}

.gameText h2{
    font-family: Bradley Hand, cursive;
    font-size: 80px;
    margin-top: 20%;
}

.gameText p {
    font-family: Bradley Hand, cursive;
    font-size: 50px;
    margin: 50px;
}


.styled-input {
    width: 300px;
    height: 40px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 5px;
    background: transparent;
    color: white;
    font-size: 18px;
    text-align: center;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container a{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30%;
    text-decoration: none;
}

.button-choices{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-choices a{
    margin-top: 30%;
    text-decoration: none;
}


.image-centre {
    position: absolute;
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 300px;
}

.image-centre img {
    margin-top: 250px;
    margin-left: 140%;
    width: 100%;
    height: 400px;
    border-radius: 10%;
    border-width: 5px;
    border-style: solid;
    border-color: white;
}

.code-final {
    right: 60%;
    position: absolute;
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 500px;
}

.code-final img {
    margin-left: 160%;
    width: 100%;
    height: 500px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 1px;
    left: 770px;
}

.overlay img {
    width: 100px;
    height: auto;
}

.btn-grad {
    background-image: linear-gradient(to right, #ADD100 0%, #7B920A 51%, #ADD100 100%);
    margin: 20px auto;
    padding: 20px 50px;
    text-align: center;
    font-family: Bradley Hand, cursive;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    font-size: 24px;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.btn-grad2 {
    background-image: linear-gradient(to right, #0a927b 0%, #0a9287 51%, #0a927b 100%);
    margin-top: 20px;
    margin-left: 93%;
    text-transform: capitalize;
    font-family: Bradley Hand, cursive;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    font-size: 24px;
}

.labyrinthe {
    left:25%;
    position: absolute;
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 400px;
    margin-top: 5%;
}

#labyrinth {
    width: 760px;
    height: 420px;
    background-color: cyan;
    position: relative;
}

#player {
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;
}

.obstacle {
    width: 20px;
    height: 20px;
    background-color: green;
    position: absolute;
}

.goal {
    width: 20px;
    height: 20px;
    background-color: yellow;
    position: absolute;
    bottom: 0;
    right: 0;
}


#game-container {
    width: 700px;
    height: 400px;
    background-color: #f0f0f0;
    position: relative;
    overflow: hidden;
}

#player2 {
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.hangman-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    padding: 20px;
    background-color: #f0f0f0;
    min-width: 30vh;
    min-height: 20vh;
    background-color: rgba(240, 240, 240, 0.0);
}

.hangman-word {
    font-size: 24px;
    margin: 20px 50px;
}

.hangman-display {
    font-family: Bradley Hand, cursive;
    color: white;
    font-size: 35px;
    margin: 30px 80px;
}

.hangman-input input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    margin-left: 100px;
    border: 2px solid #7B920A;
    border-radius: 10px;
}

.hangman-input button {
    font-size: 18px;
    background-color: #ADD100;
    color: #fff;
    border: none;
    padding: 10px 30px;
    margin: 50px;
    cursor: pointer;
    border-radius: 10px;
}

.hangman-chances {
    font-family: Bradley Hand, cursive;
    color: white;
    font-size: 35px;
    margin: 10px 0;
}