.centered-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.centered-text h1{
    font-family: Bradley Hand, cursive;
    font-size: 100px;
    margin: 50px;
}

.centered-text p {
    font-family: Bradley Hand, cursive;
    font-size: 50px;
    margin: 50px;
}


.endText {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.endText h1{
    font-family: Bradley Hand, cursive;
    font-size: 80px;
    margin: 50px;
}

.endText p{
    font-family: Bradley Hand, cursive;
    font-size: 50px;
    margin: 50px;
}

.gameText {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.gameText img {
    margin: 0 auto;
    display: block;
}

.gameText h1{
    font-family: Bradley Hand, cursive;
    font-size: 80px;
    margin: 50px;
}

.gameText h2{
    font-family: Bradley Hand, cursive;
    font-size: 80px;
    margin-top: 20%;
}

.gameText p {
    font-family: Bradley Hand, cursive;
    font-size: 50px;
    margin: 50px;
}


.styled-input {
    width: 300px;
    height: 40px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 5px;
    background: transparent;
    color: white;
    font-size: 18px;
    text-align: center;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container a{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30%;
    text-decoration: none;
}

.button-choices{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-choices a{
    margin-top: 30%;
    text-decoration: none;
}

body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h2 {
    color: white;
    font-family: Bradley Hand, cursive;
    font-size: 50px;
}

.image-centre {
    position: absolute;
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 750px;
}

.image-centre img {
    margin-left: 160%;
    width: 100%;
    height: 600px;
}

.code-final {
    position: absolute;
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 750px;
}

.code-final img {
    margin-left: 160%;
    width: 100%;
    height: 600px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 440px;
    left: 1340px;
}

.overlay img {
    width: 100px;
    height: auto;
}

.btn-grad {
    background-image: linear-gradient(to right, #ADD100 0%, #7B920A 51%, #ADD100 100%);
    margin: 20px auto;
    padding: 20px 50px;
    text-align: center;
    font-family: Bradley Hand, cursive;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    font-size: 24px;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.labyrinthe {
    left:30%;
    position: absolute;
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 750px;
}

#labyrinth {
    width: 1000px;
    height: 540px;
    background-color: cyan;
    position: relative;
}

#player {
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;
}

.obstacle {
    width: 20px;
    height: 20px;
    background-color: green;
    position: absolute;
}

.goal {
    width: 20px;
    height: 20px;
    background-color: yellow;
    position: absolute;
    bottom: 0;
    right: 0;
}


#game-container {
    width: 700px;
    height: 400px;
    background-color: #f0f0f0;
    position: relative;
    overflow: hidden;
}

#player2 {
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}